* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
}

header > h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8E8E8E;
}

section.win-background {
    background-color: #10A95B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F4DA;
    border-radius: 4px;
    margin-block: 30px;
}
section.lose-background {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F4DA;
    border-radius: 4px;
    margin-block: 30px;
}
section.game-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60px;
    width: 100%;
    max-width: 350px;
    border-radius: 4px;
    margin-bottom: 30px;
    
}
section.game-status > p {
    margin: 5px;
}

section.game-status > h2 {
    font-size: 1.25rem;
    margin: 5px
}

section.language-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    max-width: 350px;
}

span.chip {
position: relative;
display: inline-block;
padding: 5px 10px;
border-radius: 4px;
font-weight: bold;
font-size: 0.9rem;
}
span.chip.lost::before {
  content: '💀';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 0.85rem;
  background-color: rgba(0, 0, 0, 0.7);
}
section.words{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Button keyboard */
section.alpha-btn{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 450px;
  margin-bottom: 30px;
}
.button {
  border: 1px solid #D7D7D7;
  border-radius: 2px;
  background-color: #FCBA29;
  height: 35px;
  width: 35px;
  color: black;
}
.button:disabled{
    background-color: #ddd;
    cursor: not-allowed;
    opacity: 0.6;
}
.correct {
  background-color: #10A95B !important;
  color: white;
}

.wrong {
  background-color: red !important;
  color: white;
}

button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}
.maxcount{
    margin-bottom: 0;
    margin-top: 0;
}